<div class="box">
    <p>
        <% if (method.toUpperCase() == 'GET') { %>
            <span class="method get">
        <% } else if (method.toUpperCase() == 'POST') { %>
            <span class="method post">
        <% } else if (method.toUpperCase() == 'PUT') { %>
            <span class="method put">
        <% } else if (method.toUpperCase() == 'DELETE') { %>
            <span class="method delete">
        <% } else { %>
            <span class="method">
        <% } %>
        <%= method.toUpperCase() %></span><%= path %>
    </p>
    <p class="markdown"><%= obj.description %></p>
    <h3>Request</h3>
    <%- include('./request', obj.request); -%>
    <h3>Responses</h3>
    <% for (status in obj.responses) { %>
        <%- include('./response', { status: status, obj: obj.responses[status] }); -%>
    <% } %>
</div>
