<div class="box">
    <!-- Headers -->
    <p>
        <% if (locals.status == 200) { %>
            <span class="status ok">
        <% } else { %>
            <span class="status error">
        <% } %>
        <%= locals.status %></span>
    </p>
    <% if (obj.headers) { %>
        <p>Headers</p>
        <%- include('./schema-table', { schema: obj.headers }); -%>
    <% } %>
    <!-- Body -->
    <% if (obj.body) { %>
        <p>Body</p>
        <p>Content-Type: <%= obj.body.type %> </p>
        <%- include('./schema-table', { schema: obj.body.schema }); -%>
    <% } %>
    <!-- Example -->
    <% if (obj.example) {  %>
        <p>Example</p>
        <p class="markdown example"><%= obj.example %></p>
    <% } %>
</div>
