<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <script src="./markdown/markdown.js"></script>
    </head>
    <body>
        <!-- Information -->
        <h1><%= title %></h1>
        <p>version: <%= version %></p>
        <p>basePath: <%= basePath %></p>
        <p class="markdown"><%= description %></p>

        <!-- Paths -->
        <% for (p in paths) { %>
            <% var path = paths[p]; %>
            <% for (method in path) { %>
                <%- include('./path', { path: p, method: method, obj: path[method] }); -%>
            <% } %>
        <% } %>

        <!-- Definitions -->
        <% for (name in definitions) { %>
            <%- include('./definition', {name: name, obj: definitions[name] }); -%>
        <% } %>
    </body>
    <script>
        var mdElems = document.getElementsByClassName('markdown');
        for (var i = 0; i < mdElems.length; i++) {
            var e = mdElems[i];
            e.innerHTML = markdown.toHTML(e.innerHTML);
        }
        var codeElems = document.getElementsByTagName('code');
        for (var i = 0; i < codeElems.length; i++) {
            var e = codeElems[i];
            var p = document.createElement('pre');
            p.innerHTML = e.innerHTML;
            e.childNodes[0].remove();
            e.appendChild(p);
        }
    </script>
</html>
